@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

.tg-bg-color {
    background-color: var(--tg-theme-bg-color, #ffffff);
    color-scheme: var(--tg-color-scheme);
}
.tg-text-color {
    color: var(--tg-theme-text-color, #222);
}
.tg-hint-color {
    color: var(--tg-theme-hint-color, #ccc);
}
.tg-link-color {
    color: var(--tg-theme-link-color, #2678b6);
}
.tg-btn-color {
    background-color: var(--tg-theme-button-color, #50a8eb);
}
.tg-btn-text-color {
    color: var(--tg-theme-button-text-color, #ffffff);
}
.tg-secondary-bg-color {
    background-color: var(--tg-theme-secondary-bg-color, #efefef);
}
